<%- include('layout') %>
<style>
     form div{
        margin-bottom: 1em;
    }
    input,textarea{
        width: 100%;
        padding: 0.6rem;
    }

    button{
        padding: 0.5rem 1em;
        background-color: #333;
        color: white;
        border: none;
        cursor: pointer;
    }
</style>
<h2>Create New</h2>
<form action="/new" method="post">
    <div>
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" required>
    <label for="content">Content:</label>
    <textarea name="content" id="content" required></textarea>
    </div>
    <button type="submit">submit</button>
</form>