<%- include('layout') %>
<div class="card">
    <div class="card-header">
<h2>Create New Blog post</h2>
<form action="/new" method="post">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" required>
        </div>
        <div class="form-group">
    <label for="content">Content:</label>
    <textarea name="content" id="content" class="form-control" required></textarea>
    </div>
    <button type="submit" class="btn btn-success">submit</button>
</form>
</div>
</div>